li{
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(112, 110, 110, 0.5);
    color: rgb(0, 0, 0);
    width: 100%;
    /* justify-content: center; */
    font-weight: 600;
    margin-top: 1rem;
    border-radius: 0.5rem; 
    position: relative;  
}


li span{
    padding: 2rem;
}
/* ... estilos anteriores */

.span-icon-close{
    color: rgb(255, 98, 98);
    position: absolute;
    font-size: 1.5rem;
    right: -30px;
    top: -30px;
}

.span-icon-done{
    color: rgb(21, 255, 0);
}

.span-icon-uncompleted{
    color: rgb(164, 165, 164);
}

.todoItem-p--completed{
    text-decoration: line-through;
}