.span-icon-close{
    color: rgb(255, 255, 255);
    position: absolute;
    font-size: 1.5rem;
    right: 5px;
    top: 5px;
}

.span-icon-close:hover{
    cursor: pointer;
    color: rgb(255, 0, 0);
}